body{
  /* padding-top:80px; */
  word-wrap:break-word;
}
img{
  height: 100px;
}


* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

.hidden{
  display: none;
}

*{
  border-radius: 5px;
}

/* nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

nav li {
  display: flex;
  flex-direction: row;
} */


nav{

}

nav ul li {
  /* display: inline; */

}

header{
  background: lightblue;
  height: 70px;
  border: outset 5px purple;
}

nav ul {
  display: flex;
  justify-content: space-between;
  font-size: 1.2em;
  list-style-type: none;
}

nav ul li {
  /* display: inline; */
margin-right: 30px;
}

h1{
  text-align: center;
  font-size: 3em;
  font-weight: 900;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  
}


<li>
    <a href="/inventory">Home</a>
</li>

.general-category{
  /* background: blue; */
}

.featuedContain{
  width: 50%;
  margin-right: 50px;
}

.featuedSectionOne{
  background: green;
  height: 900px;
  width: 100%;
  background-image: url(/img/inventoryBackground.jpg);
  margin-right: 50px;
  background-size: cover;
  background-position-x: -300px;
  box-shadow: 0px 0px 4px 4px grey;
}
.featuedSectionTwo{
  margin-top: 5px;
  background: green;
  height: 900px;
  width: 100%;
  background-image: url(/img/inventoryBackgroundTwo.jpg);
  margin-right: 50px;
  background-size: cover;
  background-position-x: -300px;
  box-shadow: 0px 0px 4px 4px grey;
}


.featuedContain span{
  color: white;
  font-size: 3em;
  font-weight: 900;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  
}

.center-text{
  text-align: center;
}

.link{
 background: white;
 text-decoration: none;
 height: 10px;
 border: 3px solid black;
 font-weight: 900;
 font-family: 'Courier New', Courier, monospace;
 padding: 3px;
 box-shadow: 0px 0px 10px 4px white;
}


.inventoryContain{
  display: flex;
}

.miniCart{
  text-align: center;
  border-radius: 5px;
  border: 3px solid gray; 
  list-style-type: circle;
  box-shadow: 0px 0px 7px 7px darkgreen;
  /* height: 150px; */
  margin-right: 20px;
  
}

.mainContainer{
  /* background: pink; */
  display: flex;
  flex-direction: row;
}

.itemCol{
  /* background: blue; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.col{
  text-align: center;
   /* come back to this.*/
  width: 35%; 
}
.itemBox{
  /* background: green; */
  border-bottom: 3px solid lightgrey;
}

.message{
   /* background: red; */
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  align-items: center;
  width: 25%;
  margin-left: 130px;
  border-radius: 3px;
  box-shadow: 0px 0px 4px 4px grey;
}

.cartLi{
  border: 3px solid gray;
}

.miniCart a{
  text-decoration: none;
  font-weight: 900;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: lightblue;
  color:black;
  outline: 3px outset purple;
}

h3{
   font-size: 2em;
  color:black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.cartContain{
  margin-left: 500px;
  display: flex;
  justify-content: center;
  width: 50%;
  flex-direction: column;
}

.cartSpan{
  font-size: 2em;
  color: salmon;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

/* .message img{
   background: red;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 25%;
} */

/*  */

/* .itemCol span{
  border: 3px solid grey; 
} */